{% extends 'shared/base.html' %}
{% load static %}


{% block content %}
    <h1>Scoville Scale</h1>

    <ul>
    {% for scoville_scale in scale_list %}
        <li>
            {% comment %} <a href="{% url 'scovilleapp:book' book.id %}"> {{ book.title }} </a>
    by {{book.author}} published in {{book.year}} {% endcomment %}
    {{scoville_scale.pepper_name}}
    {{scoville_scale.heat_range}}
    <img src="{{scoville_scale.image}}">
        </li>
    {% endfor %}
    </ul>
    {% endblock %}
