{% extends 'shared/base.html' %}
{% load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<div class="form">
<h2>Welcome!</h2>
 <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Login</button>
 </form>
<a class="register-link" href="{% url 'scovilleapp:register' %}">Don't have an account? Register here.</a>
 </div>
    
{% endblock %}