{% extends 'shared/base.html' %}
{% load static %}

{% block content%}


    <h1>Spicy Experiences</h1>

    <a href="{% url 'scovilleapp:blogpost_form' %}">Tell Us About Your Experience</a>

    <div class="all_blogposts">
    {% for blogpost in all_blogposts %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static blogpost.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ blogpost.title }}</h5>
                <p class="card-text">{{ blogpost.snippet }}</p>
                <p class="card-text">{{ blogpost.scoville_scale.pepper_name }}</p>
                <a href="{% url 'scovilleapp:blogpost' blogpost.id %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}



 
