{% extends 'shared/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/details.css' %}" type="text/css" media="screen" />
{% endblock %}
{% block content %}
<div class="blogpost_detail">
    <div class="blogpost">
        <img src="{{ blogpost.blog_image }}" />
        <h2>{{ blogpost.title }}</h2>
        <h3>Written by {{ blogpost.author.username }}</h3>
        <p>{{ blogpost.body }}</p>
        {% comment %} <iframe width="560" height="315" src="{{blogpost.video}} frameBorder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowFullScreen></iframe> {% endcomment %}
        <p>{{ blogpost.created_on }}</p>
    </div>

    {% if blogpost.author_id == request.user.id %}
    <form action="{% url 'scovilleapp:blogpost' blogpost.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="DELETE">
    <button>Delete</button>
    </form>

    <form action="{% url 'scovilleapp:blogpost_edit_form' blogpost.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
    </form>
    {% else%}
    <div> You are not authorized to edit or delete this post. </div>
    {% endif %}

    
</div>
{% endblock %}