{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<div class="blogpost_detail">
    <div class="blogpost">
        <img src="{{ blogpost.image }}" />
        <h2>{{ blogpost.title }}</h2>
        <h3>Written by {{ blogpost.author.username }}</h3>
        <p>{{ blogpost.body }}</p>
        <p>{{ blogpost.created_on }}</p>
    </div>
    <form action="{% url 'scovilleapp:blogpost' blogpost.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="DELETE">
    <button>Delete</button>
</form>
</div>
{% endblock %}