{% extends 'shared/base.html' %}
{% load static %}

{% block content %}


{% if blogpost.id is not None %}
        <form action="{% url 'scovilleapp:blogpost' blogpost.id %}" method="post">
    {% else %}
        <form action="{% url 'scovilleapp:blogposts' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <fieldset>
            <label for="image">Image Url: {{ blogpost.image }} </label>
            <input id="image" type="text" name="image" value="{{ blogpost.image }}">
        </fieldset>
        <fieldset>
            <label for="title">Title: </label>
            <input id="title" type="text" name="title" value="{{ blogpost.title }}">
        </fieldset>
        <fieldset>
            <label for="body">Body: </label>
            <textarea id="body" name="body">{{ blogpost.body }}</textarea>
        </fieldset>
        <fieldset>
            <label for="tolerance">tolerance: </label>
            <input id="tolerance" type="text" name="tolerance" value="{{ blogpost.tolerance }}">
        </fieldset>
        <fieldset>
            <label for="scoville_scale">Scoville Category: </label>

            <select id="scoville_scale" type="text" name="scoville_scale">
                {% for scale in scales %}
                    <option value="{{ scale.id }}">{{ scale.pepper_name }} </option>
                {% endfor %}
            </select>
        </fieldset>
        

        {% if blogpost.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

    </form>
    
    
    {% comment %} <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>


    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>


    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button> {% endcomment %}
    

{% endblock %}