{% comment %} {% extends 'shared/base.html' %} {% endcomment %}
{% load static %}

{% block content%}
    <h1>Spicy Experiences</h1>
    <div class="all_blogposts">
    {% for blogpost in all_blogposts %}
        <div class="blog_post">
    
            <h2><a href="{% url 'scovilleapp:blogpost' blogpost.id %}">{{ blogpost.title }}</a></h2>
            <p>{{ blogpost.snippet }}</p>
            <p>{{ blogpost.created_on }}</p>
        
             
        </div>
    {% endfor %}
    </div>
{% endblock %}



 
