{% extends 'shared/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/form.css' %}" type="text/css" media="screen" />
{% endblock %}
{% block content %}


{% if blogpost.id is not None %}
<div class="form-group">
        <form action="{% url 'scovilleapp:blogpost' blogpost.id %}" method="post" class="cform">
    {% else %}
        <form action="{% url 'scovilleapp:blogposts' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <fieldset class="col-md-5">
            <label for="blog_image">Image Url: </label>
            <input class="form-control" id="blog_image" type="text" name="blog_image" value="{{ blogpost.blog_image }}">
        </fieldset class="col-md-5">
        <fieldset class="col-md-5">
            <label for="title">Title: </label>
            <input class="form-control" id="title" type="text" name="title" value="{{ blogpost.title }}">
        </fieldset>
        <fieldset class="col-md-5">
            <label for="body">Body: </label>
            <textarea class="form-control" id="body" rows="5" name="body">{{ blogpost.body }}</textarea>
        </fieldset>
        <fieldset class="col-md-5">
            <label for="tolerance">Tolerance: </label>
            <input class="form-control" id="tolerance" type="text" name="tolerance" value="{{ blogpost.tolerance }}">
        </fieldset>
        <fieldset class="col-md-5">
            <label for="scoville_scale">Scoville Category: </label>

            <select class="form-control" id="scoville_scale" type="text" name="scoville_scale">
                {% for scale in scales %}
                    <option value="{{ scale.id }}">{{ scale.pepper_name }} </option>
                {% endfor %}
            </select>
        </fieldset class="col-md-5">
        {% comment %} <fieldset>
            <label for="video">Video Url: {{ blogpost.video }} </label>
            <input id="video" type="text" name="video" value="{{ blogpost.video }}">
        </fieldset> {% endcomment %}
        
        <br></br>
        {% if blogpost.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input class="btn btn-primary" type="submit" value="Update" />
        {% else %}
            <input class="btn btn-primary" type="submit" value="Create" />
        {% endif %}

    </form>
</div>

{% endblock %}